<%= link_to resource, class: active_link?(params, resource) do %>
  <h4> <%= resource.header %> </h4>
  <p style="font-size: 8.5px; margin: 0px;"> <%= resource.created_at.strftime("%d-%m-%y") %> </p>
<% end %>
