<% if @post %>
  <post>
    <h2 style="margin-bottom: 15px"> <%= @post.header %> </h2>
    <%= video_tag "Реклама ЗАЗ Таврія в Unreal Engine 5 (1).mp4", controls: true, style: "max-width: 620px;" %>
    <p> <%= @post.description %> </p>
  </post>
<% end %>
