<% if @post %>
  <post class=<%= params[:id].nil? && "hide-for-mobile" %>>
    <h2 style="margin-bottom: 16px"> <%= @post.header %> </h2>
    <iframe src="https://player.vimeo.com/video/<%= @post.video_link %>"
          width="640" height="405" frameborder="0" allow="autoplay; fullscreen" allowfullscreen style="width: 100%;">
    </iframe>
    <p> <%= @post.description %> </p>
  </post>
<% end %>
