<post>
  <h2 style="margin-bottom: 15px"> <%= @post.header %> </h2>
  <iframe src="https://player.vimeo.com/video/<%= @post.video_link %>"
          width="640" height="360" frameborder="0" allow="autoplay; fullscreen" allowfullscreen>
  </iframe>
  <p> <%= @post.description %> </p>
</post>
