<faq>
  <h2>Часті запитання</h2>
  <%# <details>
    <summary>Що за банка?</summary>
    <p>
      Банка моєї знайомої волонтерки, ще з початку війни плете сітки для військових.
      Запитів отримує багато, тому конче необхідні кошти для задоволення їх потреб. Вирішив підтримати. А тепер зможете і ви.
    </p>
  </details> %>
  <details class="mt-4">
    <summary>Відправка та оплата замовлення</summary>
    <p>
      Відправляю посилки Новою Поштою післяплатою, доставка безкоштовна.
    </p>
  </details>
  <details class="mt-4">
    <summary>Коли я отримаю посилку?</summary>
    <p>
      Зазвичай посилку відправляю того ж дня як замовили.
    </p>
  </details>
</faq>
