<div class="mt-4">
  <h2>Як купити</h2>
  <ol>
    <li>
      Закиньте відповідну суму на цю
      <%= link_to "моно-банку", Monobanka.last.monobankalink, method: "get",
          style: "text-decoration: underline", target: "_blank", rel: "me nofollow noopener noreferrer" %>
    </li>
    <li>Зробіть скріншот квитанції</li>
    <li>Натисніть на кнопку купити, введіть дані для відправки та прикріпіть скріншот</li>
  </ol>
</div>
