<header>
  <%= link_to root_path, style: "margin-bottom: 25px;" do %>
    <h1>Сьогодення</h1>
  <% end %>
  <%= link_to products_path, style: "margin-bottom: 25px;" do %>
    <h3>Продукція</h3>
  <% end %>
</header>
